In [1]:
import pandas as pd

In [2]:
basquet = pd.read_csv("basketball.csv")

In [3]:
#Muestra informacion del contenido del dataframe de pandas
basquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
height                 54 non-null float64
weight                 54 non-null int64
success_field_goals    54 non-null float64
success_free_throws    54 non-null float64
avg_points_scored      54 non-null float64
dtypes: float64(4), int64(1)
memory usage: 2.2 KB

In [4]:
#Mostrar las primeras l√≠neas de la data
basquet.head()

   height  weight  success_field_goals  success_free_throws  avg_points_scored
0     6.8     225                0.442                0.672                9.2
1     6.3     180                0.435                0.797               11.7
2     6.4     190                0.456                0.761               15.8
3     6.2     180                0.416                0.651                8.6
4     6.9     205                0.449                0.900               23.2

In [6]:
basquet["weight"]= basquet["weight"].apply(lambda toLabel: 0 if toLabel =='height' else 1)

In [7]:
#numeros verdaderos, sino dara nulo 
missing_values_count = basquet.isnull().sum()

In [8]:
missing_values_count[0:20]

height                 0
weight                 0
success_field_goals    0
success_free_throws    0
avg_points_scored      0
dtype: int64

In [9]:
basquet["success_field_goals"].fillna(basquet["success_field_goals"].mean(), inplace=True)

In [10]:
basquet.describe()

,height,weight,success_field_goals,success_free_throws,avg_points_scored
count,54.000000,54.0,54.000000,54.000000,54.000000
mean,6.587037,1.0,0.449111,0.741852,11.790741
std,0.458894,0.0,0.056551,0.100146,5.899257
min,5.700000,1.0,0.291000,0.244000,2.800000
25%,6.225000,1.0,0.415250,0.713000,8.150000
50%,6.650000,1.0,0.443500,0.753500,10.750000
75%,6.900000,1.0,0.483500,0.795250,13.600000
max,7.600000,1.0,0.599000,0.900000,27.400000

missing_values_count[0:16]

In [12]:
missing_values_count[0:16]

height                 0
weight                 0
success_field_goals    0
success_free_throws    0
avg_points_scored      0
dtype: int64

In [13]:
basquet["success_field_goals"].mean()

0.4491111111111112

In [14]:
del basquet['avg_points_scored']

In [15]:
basquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 4 columns):
height                 54 non-null float64
weight                 54 non-null int64
success_field_goals    54 non-null float64
success_free_throws    54 non-null float64
dtypes: float64(3), int64(1)
memory usage: 1.8 KB

In [17]:
y= basquet["success_free_throws"]

In [18]:
missing_values_count[0:16]

height                 0
weight                 0
success_field_goals    0
success_free_throws    0
avg_points_scored      0
dtype: int64

In [19]:
basquet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 4 columns):
height                 54 non-null float64
weight                 54 non-null int64
success_field_goals    54 non-null float64
success_free_throws    54 non-null float64
dtypes: float64(3), int64(1)
memory usage: 1.8 KB

In [20]:
basquet.head()

   height  weight  success_field_goals  success_free_throws
0     6.8       1                0.442                0.672
1     6.3       1                0.435                0.797
2     6.4       1                0.456                0.761
3     6.2       1                0.416                0.651
4     6.9       1                0.449                0.900

In [21]:
missing_values_count[0:20]

height                 0
weight                 0
success_field_goals    0
success_free_throws    0
avg_points_scored      0
dtype: int64

In [24]:
#Cambiamos los valores a categor√≠as representados
basquet["weight"].replace([1],[2], inplace=True)

In [0]:
#Creamos los grupos de edades
height =[6.8,6.3,6.4,6.2,6.9]
basquet["weight"] = pd.cut(basquet["weight"], bins, labels = success_field_goals)

In [33]:
x_input = basquet.drop(['weight'],axis=1)